@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Caveat');

@font-face {
  font-family: "SansitaSwashedRegular";
  src: local("SansitaSwashedRegular"),
   url("./fonts/sansitaSwashedRegular.ttf") format("truetype");
  }
  

.reg-page{
  display: flex;
  position: fixed;
  background-color: #FF5858;
}

.left-reg-page{
  height: 80vh;
  width: 50vw;
}

.right-reg-page{
  height: 100vh;
  width: 50vw;
  align-items: initial;
  padding: 10vh;
}

.left-reg-page img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
}

.welcome-card span{
  font-size: 6vh;
  font-weight: bold;
}

.welcome-card{
  color: white;
  font-size: 3vh;
  font-family: 'SansitaSwashedRegular';
}

.StyledTab{
  font-size: 3vh;
  font-family: 'SansitaSwashedRegular';
}

.register-or-login{
  margin-top: 5vh;
  width: 40vw;
  height: 40vh;
}

.home-page {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3vw;
}


.home-page-header{
  grid-column: 1/3;
  font-size: 5vh;
  background-color: black;
  color: #FF5858;
  height: 12vh;
  width: 100vw;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 8% 32% 60%;
  grid-template-rows: 100%;
}

.home-page-header-logo{
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-header-logo img{
  height: 10vh;
}

.home-page-header-title{
  grid-column: 2/3;
  display: flex;
  align-items: center;
}
.home-page-header-navbar{
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5vw;
}

.home-page-header-navbar button{
  border-radius: 10px;
  height: 4.5vh;
  width: 7vw;
  background-color: white;
  color: #FF5858;
  border: 2px solid #FF5858;
  font-size: 2vh;
  font-family: 'SansitaSwashedRegular';
  cursor: pointer;
}

.home-page-header-navbar span{
  font-size: 2vh;
  margin: 2vh;
}

button{
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: transform 500ms;
}

button:hover{
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  transform: translateY(-2px);
}

button:active{
  transform: translateY(2px);
}



.left-home-page{
  width: 50vw;
  height: 80vh;
  overflow: scroll;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.right-home-page{
  padding-top: 1vh;
}

.events{
  height: 75vh;
  margin-inline: 2vw;
  perspective: 600px;
}

.event-card{
  background: #fff;
  border-radius: 4px;
  height: 22vh;
  margin-bottom: 2vw;
  padding: 0px;
  position: relative;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 500ms;
  display: grid;
  grid-template-columns: 75% 12.5% 12.5%;
  grid-template-rows: 35% 40% 25%;
  border: 1px solid black;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.event-card:hover {
  transform: scale(1.03);
  /* transition: 0.5s; */
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.event-card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.event-card-header, .event-form-header{
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: black;
  color: #FF5858;
  height: 6vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FF5858;
}

.event-card-header h2, .event-form-header h2{
  margin: 1vw;
}

.event-card-body{
  grid-column: 1/2;
  grid-row: 2/5;
  margin: 1vw;
  margin-top: 0;
  border-right: 1px solid black;
  max-width: 30vw;
  padding-right: 1vw;
}

.event-card-body span{
  display: -webkit-box;
  line-height: 2.5vh;
  height: 12.5vh;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-card-info{
  grid-column: 2/4;
  grid-row: 2/3;
  text-align: center;
  margin-right: 1vw;
}


.event-card-update{
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: auto;
  margin-bottom: auto;
}

.event-card-delete{
  grid-column: 3/4;
  grid-row: 3/4;
  margin-top: auto;
  margin-bottom: auto;
}

.event-card-register-event{
  grid-column: 2/4;
  grid-row: 3/4;
}

.icon{
  transition: transform 0.5s;
}

.icon:hover{
  transform: scale(1.3);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.event-card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.event-card-back{
  grid-column: 1/4;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: 75% 12.5% 12.5%;
  grid-template-rows: 35% 40% 25%;
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
}

.event-card-front{
  height: 100%;
  width: 100%;
  position: absolute;
  grid-column: 1/4;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: 75% 12.5% 12.5%;
  grid-template-rows: 35% 40% 25%;
  backface-visibility: hidden;
}

.event-card input,textarea{
  margin: 0px;
  width: 90%;
}

.update-title{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 90%;
  margin: auto;
}

.update-description{
  grid-column: 1/2;
  grid-row: 2/5;
  width: 90%;
  margin: auto;
}

.update-timing{
  grid-column: 2/4;
  grid-row: 1/2;
  width: 90%;
  margin: auto;
}

.event-card button{
  width: 90%;
  margin: auto;
  background-color: #FF5858;
  color: black;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  height: 3vh;
}

.update-cancel{
  grid-column: 2/4;
  grid-row: 2/3;
}

.update-submit{
  grid-column: 2/4;
  grid-row: 3/4;
}


.event-form{
  background: #fff;
  border-radius: 4px;
  height: 50vh;
  width: 40vw;
  margin-inline: 2vw ;
  /* padding-bottom: 3vh; */
  position: relative;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 500ms;
}

.event-form form{
  width: 80%;
  margin: auto;
}

.event-form label, input, textarea {
  margin-top: 3vh;
  display: block;
  font-family: inherit;
}
.event-form input, textarea {
  padding: 1vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.event-form button {
  background: #FF5858;
  width: 100%;
  color: black;
  padding: 1vh;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5vh;
}

body {
  margin: 0;
  background-color: #FF5858;
  font-family: 'SansitaSwashedRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}